// Color scheme
$color-white: #fff;
$color-isabelline: #ececec;
$color-ligth-gray: #d1d1d1;
$color-quick-silver: #a0a0a0;
$color-granite-gray: #686963;
$color-smokyblack: #0c0910;

// Typography
$ff-raleway: "Raleway", sans-serif;
$ff-old-standard: "Old Standard TT", serif;

// Font weigth
$fw-extra-ligth: 200;
$fw-regular: 400;
$fw-bold: 700;

//Font sizes
$fs-xxx-large: 50px;
$fs-xx-large: 30px;
$fs-x-large: 20px;
$fs-large: 18px;
$fs-medium: 16px;
$fs-small: 14px;
$fs-x-small: 12px;
